<div class="parallax-container">
      <div class="parallax"><img src="assets/images/marvel.jpg"></div>
</div>

<h4>Chicos una disculpa por la clase de hoy, no es ningún pretexto, pero en verdad mil disculpas.
    En este ejercicio se solucionó el problema que pasaba con el archivo factory.js
    Anoten sus dudas y
   mañana las comentamos, que tengan buena noche :)

   <br>
   <br>
    En esta parte estamos reutilizando el componente < comics-component></ comics-component>
    el mismo componente que utilizamos para la vista de la ruta /comics".
</h4>

<comics-component></comics-component>
