  <div class="row" ng-repeat="alumno in vm.alumnosData" style="margin-top:200px;">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{alumno.img}}">
              <span class="card-title" style=" color:#000;">{{alumno.name}}</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <p>{{alumno.edad}}</p>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
